# Release workflow powered by semantic-release.
# Only publishes when conventional commits since last release warrant a release.

name: Release

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: 18
          registry-url: https://registry.npmjs.org/
      - name: Enable Corepack (Yarn 4)
        run: corepack enable
      - run: yarn install --immutable
      - run: yarn install:ci
      - run: yarn tsc
      - run: yarn build
      - name: Run semantic-release
        run: yarn release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
